# Node modules
node_modules/

# Build output
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Env files
.env*

# VSCode
.vscode/

# Tailwind JIT cache
.tailwind*

# Misc
*.local
